<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Verifone">

    <!--Set Env Variable: -->
    <!--QA-->
    <!--DEV-->
    <parameter name="env" value="${environment}"/>
    <parameter name="getVersions" value="false"/>


    <parameter name="isLinuxMachine" value="${isLinux}"/>


    <!--Set Portal Variable: -->
    <!--CPPortal-->
    <!--CGPortal-->
    <!--EOAdmin-->
    <parameter name="portal" value="CPPortal"/>

    <test name="Automation Tests">
        <!--Set Browser Variable:-->
        <!--CHROME-->
        <!--FF-->
        <!--EDGE-->
        <!--IE-->
        <parameter name="browserType" value="${browser}"/>

        <classes>
            <class name="com.verifone.tests.cpTests.DCTests"/>
            <class name="com.verifone.tests.cpTests.DevUploadApp"/>
            <class name="com.verifone.tests.cpTests.LoginTest"/>
            <class name="com.verifone.tests.api.tests.PubSubDdtTest"/>


        </classes>

    </test>

</suite>