<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Verifone" >

    <!--Set Env Variable: -->
    <!--QA-->
    <!--DEV-->
    <!--<parameter name="env" value="QA"/>-->
    <parameter name="env" value="${environment}" />

    <!--Set Portal Variable: -->
    <!--CPPortal-->
    <!--CGPortal-->
    <!--EOAdmin-->
    <parameter name="portal" value="CPPortal"/>

    <test name="Automation Tests">
        <!--Set Browser Variable:-->
        <!--CHROME-->
        <!--FF-->
        <!--EDGE-->
        <!--IE-->
        <parameter name="browserType" value="${browser}"/>

        <classes>
            <class name="com.verifone.tests.cpTests.DevUploadApp"/>
        </classes>

    </test>

</suite>