<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Verifone" >

    <parameter name="env" value="QA"/>
    <parameter name="portal" value="CPPortal"/>

    <test name="Automation Tests">

        <parameter name="browserType" value="CHROME"/>

        <classes>
            <class name="com.verifone.tests.cpTests.MerchantGetCongMailUI"/>
        </classes>

    </test>

</suite>